body {
    font-family: 'Montserrat';
	background: #121212;
	background-size: 400% 400%;
}
.footer{
    background-color: whitesmoke;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
}
.on-dark-backgrounds{
    color: whitesmoke;
}
.preview{background-color: whitesmoke; padding: 20px;}
.page{
	padding: 2rem;
	padding-top: 0.5rem;
}
::placeholder{
	color: red;
}

.login-prompt{
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

img {
  margin-left: 15px;
  margin-top: -120px;
}

.small-logo{
	float: right;
	margin-top: -50px;
}

.main-index-logo{
	display: block;
	float: right;
}



@media only screen and (max-width: 600px){
	body{
		background-size: cover;
		background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
	}

	.rotating-text{
		width: 25%;
	}
	
	
	span{
		font-size: 25px;
	}

	.small-logo{
		margin-right: 1rem;
		margin-top: -220px
	}

	img{
		display: block;
	}
	.main-index-logo{
		margin-top: 10px;
		margin-bottom:7rem;
		display: block;
		width: 50%;
	}

	footer{
		margin-bottom: 0;
	}
}