body {
    font-family: 'Montserrat';
	background: #121212;
	background-size: 400% 400%;
}
footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 5rem;
}
.black-text-in-a-white-box{
    color: #121212;
    border: 3px solid whitesmoke;
    background-color: whitesmoke;
    width: 40%;
    height: 140%;
 }
.on-dark-backgrounds{
    color: whitesmoke;
}
.preview{background-color: whitesmoke; padding: 20px;}
.page{
	padding: 2rem;
	padding-top: 0.5rem;
}
::placeholder{
	color: #808080;
}

.login-prompt{
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.small-logo{
	float: right;
	margin-top: -50px;
	margin-left: 600px; 
	margin-top: 1px; 
	width: 50px; 
	height: auto;
}

.main-index-logo{
	padding: 2rem;
	margin-left: 75rem;
}



@media only screen and (max-width: 600px){
	body{
		background-size: cover;
		background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
	}

	.rotating-text{
		width: 25%;
	}
	
	span{
		font-size: 21px;
	}

	.small-logo{
		margin-left: 0px;
	}

	.main-index-logo{
		margin-top: 10px;
		margin-bottom:7rem;
		width: 70%;
		height: auto;
		margin-left: 0rem;
	}

	footer{
		padding: 5rem;
	}
}