body {
    font-family: 'Montserrat';
	background: #121212;
	background-size: 400% 400%;
}
.footer{
    background-color: whitesmoke;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
}
.on-dark-backgrounds{
    color: whitesmoke;
}
.preview{background-color: whitesmoke; padding: 20px;}
.page{
	padding: 2rem;
	padding-top: 0.5rem;
}
::placeholder{
	color: red;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
img {
  float: right;
  margin-left: 15px;
  margin-top: -120px;
}